# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.pubspec.lock
/lib/generated/locales.g.dart
/packages/google_maps_flutter/google_maps_flutter/example/build/
/packages/google_maps_flutter/google_maps_flutter/example/android/.gradle/
/packages/google_maps_flutter/google_maps_flutter/example/ios/.symlinks/plugins/
/packages/google_maps_flutter/google_maps_flutter/example/ios/Pods/
/packages/google_maps_flutter/google_maps_flutter_android/android/.gradle/
/ios/Podfile.lock
/devtools_options.yaml

.metadata